extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text' placeholder='Band name or first name of artist' name='band_or_first_name' required='true' value=(undefined===artist ? '' : artist.band_or_first_name) )
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text' placeholder='Last name if applicable' name='last_name' value=(undefined===artist ? '' : artist.last_name))
    div.form-group
      label(for='date_of_birth') Founded:
      input#founded.form-control(type='month' name='founded' value=(undefined===artist ? '' : artist.founded) )
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg
